
body {margin: auto; padding: 3em 1em 3em 1em; display: block; max-width: 480px;}

h1 {font-size: 1.5em; font-family: serif;}
h2 {font-size: 1.02em; font-family: serif;}

a {text-decoration: none; color: #999;}
a:hover {text-decoration: underline;}

div.pages {font-size: 90%; margin-bottom: 2em; color: #999; font-family: monospace;}

p {font-size: 1em; line-height: 1.4em; color: #000; text-align: justify;}
p.meta {line-height: 1.4em; color:grey; font-size:85%; font-style:italic;}

ul.posts {list-style: none; margin: 0em 0 2em 0; padding: 0}
li {color: #000;}

hr {margin: 2em 5em 2em 5em; border: dotted 1px; color: #666;}

pre.highlight {padding: 2em; white-space: pre; overflow: auto; background-color: #f4f4f4;}
img {margin-bottom: 2em; width: 100%; height: auto;}

/* css hack for responsive youtube videos */
iframe {width: 100%; height: auto;}
.videowrapper {float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;}
.videowrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

footer {padding-top: 3em; font-size: 85%;}