<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <meta name=viewport content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="/css/home.css">
           
        </head>
        
        <body>
            <div class="container">
            {{ content }}
            </div>
        </body>

        <footer>
            <p>on <a href="https://twitter.com/theo_mtsr">twitter</a>, on <a href="https://plus.google.com/u/0/109209030380654137111">google</a>, on <a href="https://open.spotify.com/user/jaimelasoupe">spotify</a></p>
        </footer>
    </html>